<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
    </nav>
    <p id="p">
        I hope you have enjoyed this mini-wiki about Jeremy Clarkson and Top Gear, which is one of my favorite TV shows. <cite>Alex</cite>
    </p>
</body>
</html>