<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/works">Works</a>
        <a href="/about">About</a>
    </nav>
    <h3>Gallery</h3>
    <div id="gallery">
        <img src="/images/cars3.jpeg" alt="More more cars">
        <img src="/images/clarksonfarm.jpeg" alt="Jeremy Clarkson promoting Clarkson's Farm">
        <img src="/images/jc.webp" alt="Jeremy Clarkson">
        <img src="/images/jcopenmouth.jpeg" alt="Jeremy Clarkson on the Ariel Atom">
        <img src="/images/jeremy.jpeg" alt="Jeremy Clarkson 2">
        <img src="/images/tg1.jpeg" alt="Top Gear">
    </div>
</body>
</html>