<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/works">Works</a>
        <a href="/gallery">Gallery</a>
        <a href="/about">About</a>
    </nav>
    <div id="divName">
        <h2>JEREMY CLARKSON</h2>
        <h4>TV presenter and farmer</h4>
        <img src="/images/jeremy.jpeg" alt="Jeremy in a car">
    </div>

    <div id="divBio">
        <h3>Biography</h3>
        <p>His parents ran a business selling tea cosies from their hometown of Doncaster. After branching out into selling Paddington Bear toys, they became more successful and this enabled Jeremy Clarkson to go to Repton public school. By his own admission, Clarkson was expelled from Repton for a mixture of bad behaviour; he then took a job in his parents business selling Paddington Bear toys. In 1984, he formed a motoring agency, Motoring Press Agency, with journalist Jonathan Gill. This involved doing road tests of cars; this later led to writing pieces for Performance Car. His journalistic talents later gained him contracts for the Sun and Sunday Times. With his acerbic wit and bold reviews, Clarkson rarely sits on the fence, but makes his view known very clearly.

            <hr>
            <cite>“This is a Renault Espace, probably the best of the people carriers. Not that that’s much to shout about. That’s like saying ‘Oh good, I’ve got syphilis, the best of the sexually transmitted diseases!’”</cite> <span>J.Clarkson</span> <br>
            This makes for interesting journalism and TV, though car manufacturers who have been on the end of Clarkson’s dismal reviews (such as Rover) have complained he can be unfair.
            
            On 27th October 1988, Clarkson was invited to be one of the presenters for the British motoring programme Top Gear. Despite a break between 2000 and 2002, this has been one of the longest running motoring shows and with his co-presenters James May and Richard Hammond, Top Gear has become one of the most watched TV shows on BBC Two.
            
            The appeal of Top Gear has extended beyond motoring nuts, and the aim of the programme is as much about entertaining as information about the latest car models. Some have criticised this dumbing down of the programme; but the viewing figures show that many are enjoying the show, even though many of the comic moments are staged for the benefits of the show.
            
            Jeremy Clarkson has become an icon for ‘petrol heads’ and non-political correctness. Sometimes his comments have landed him in hot water, such as disparaging comments about Norfolk, workers at Hyundai, global warming, speeding, cyclists and Wales. However, Clarkson claims he is not a serious commentator, but just tries to be funny.
            
            <hr>
            <cite>“I don’t have any influence over what people do, I really don’t. It makes no difference what I say. Top Gear is just fluff. It’s just entertainment – people don’t listen to me.”</cite> <br>
            
            However, others are not convinced that Clarkson’s comments carry no weight as his views can be influential in shaping some people’s opinions of cars and wider issues. After criticising the Malaysian, Perodua Kelisa, as the ‘worst car in the world‘ built in ‘jungles by people who wear leaves for shoes’, he was criticised in the Malaysian parliament.
            
            But Clarkson tries to laugh off his comments. For example, when Clarkson caused upset by placing a 3D plastic map of Wales in a microwave, he defended himself by saying ‘I Put Wales in there because Scotland wouldn’t fit.’
            
            In addition to a career as a motoring journalist and presenter, Clarkson has presented documentaries on Science, military and Inventions that Changed the world. In the BBC programme – Great 100 Britons, Clarkson championed Isambard Kingdom Brunel and prominent engineer in the industrial revolution.
            
            He has also been one of the most common presenters of the BBC satirical comedy – ‘Have I Got News for You’.
        </p>
    </div>
</body>
</html>