<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        <a href="/gallery">Gallery</a>
        <a href="/about">About</a>
    </nav>
    <h3>Works</h3>
    <div class="div">
        <p>
            Jeremy first worked for the BBC aged 12, playing the role of Atkinson in the radio adaptation of the Jennings novels, Anthony Buckeridge’s tales of life at the fictional Linbury Court preparatory school. The role did not last long, and Richard Hammond was once asked why, in an interview on LBC Radio. “He will have done something stupid, obviously,” Richard joked. But the real reason was far less dramatic. Jeremy lost his role because he hit puberty and his voice had broken.

            Just before Jeremy turned 13, the age at which he was due to become a boarder at the family’s first-choice school, Repton, in Derbyshire, his mother Shirley hit upon the idea of creating a Paddington Bear stuffed toy. The toy went on to become popular and his parents began to sell it through the family business, generating enough income to pay the fees for Jeremy to attend Hill House School, Doncaster and later Repton School. Despite his parents’ hard work and ingenuity to pay for his boarding school education, things didn’t quite turn out as they had hoped. For Jeremy, the prospect of living away from home meant that he suddenly found out that he could misbehave without the embarrassment of his parents finding out. After all, Jeremy says, “Who cares that your English teacher knows you’ve had a fag?”
        </p>
        <img src="/images/youngJeremy.jpeg" alt="Young Jeremy Clarkson">
    </div>
    <div class="div">
        <p>
            In his own words, Jeremy described himself as “properly rubbish” at local reporting, and was perhaps the first incidence of being ambitious but rubbish. Once, he forgot the reason why he had to intrerview a bereaved woman and, on another occasion, he was forced to walk out of an inquest in hysterical laughter while messing around with a colleague. “He was very much the same as he is now,” said Les Payne, who once shared a desk with Jeremy. “He was a younger version of the current Jeremy Clarkson you see on TV. He mucked in with the rest of the office but he was very much a man who expressed his own opinions.”

            Jeremy later left the Advertiser and worked for the Rochdale Observer and Wolverhampton Express and Star, but realised life in provincial journalism was not for him. He went home to his girlfriend one night and experienced an epiphany midway through telling her about the installation of some new office furniture. “I knew at that moment that I had to leave,” he told Desert Island Discs, “because when new office furniture becomes so important that you even mention it, pack your bags, get out, move 200 miles away.”
        </p>
        <img src="/images/jeremyCar.jpeg" alt="Jeremy Clarkson in a Fiat 500">
    </div>
    <div class="div">
        <p>
            In 1987 Jeremy attended a Citroen launch in New Forest, where he met Top Gear researcher Jon Bentley. “He was just what I was looking for – an enthusiastic motoring writer who could make cars on telly fun,” Bentley said. “He was opinionated and irreverent, rather than respectfully po-faced. The fact that he looked and sounded exactly like a twenty-something ex-public schoolboy didn’t matter. Nor did the impression there was a hint of school bully about him. I knew he was the man for the job.”
            After a successful screen test, Jeremy joined the Top Gear team in 1988, alongside Tiff Needell, Tom Boswell and Tony Mason, and by his own admission his initial performances were rather wooden. But as time passed he loosened up and became more relaxed. The programme saw a massive boost in its audience as it became a more humorous, controversial, and unashamedly more critical show. Jeremy changed his appearance, going from wearing a blazer, tie and chinos to his now signature outfit of tight denim jeans and a casual jacket, and quickly became famous for being highly critical of cars he didn’t like. In a review of the Ford Scorpio, he suggested that they spent most of the time filming it from the back, so as not to frighten viewers. Jeremy’s treatment of the Vauxhall Vectra was even worse, where he told viewers that “I have to fill seven minutes with a car that doesn’t merit seven seconds.”

            As Jeremy became more famous, there was also an unfortunate and slightly hilarious side effect. Jeremy’s fondness for wearing jeans has been blamed by some for the decline in sales of denim in the mid-1990s, particularly Levi’s, because of their being associated with middle aged men, or the so-called ‘Jeremy Clarkson effect’.
            Jeremy ended up leaving Top Gear in 1999, and in his weekly newspaper column described Birmingham, where the show was filmed, as “the armpit that masquerades as Britain’s second city”. He even suggested that people had grown tired of his style, with shock tactics that had become predictable and weren’t shocking any more. “The first time you heard me liken some car to the best bits of Cameron Diaz,” he added, “you probably sniggered about it at school all the next day. But now, it’s tedious.”

            A rather young looking James May took over Jeremy’s spot on Top Gear, presenting several reviews – including the Rover 75 and Lexus IS200. But May’s charm was not enough to save the show, which saw audience figures fall from a peak of six million to under three million before being cancelled in 2001. Some of the former presenters including Tiff Needell, Quentin Wilson and Vicki Butler-Henderson left the BBC and went on to create a new motoring show called Fifth Gear.
            After the first series of Fifth Gear went to air, the BBC decided to relaunch Top Gear. The initial ideas for the show came from Jeremy and his producer friend Andy Wilman, with the pair devising a different, mainly studio-based format which focused on banter between presenters. Top Gear was relaunched in 2002 and the rest is, as they say, history.
        </p>
        <img src="/images/topgear.jpeg" alt="Top Gear trio">
    </div>
</body>
</html>